@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  height: 100%;
  color: #f9dfe0;
  background: #0d0303;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
